extends layout

block content
  h1 Example Server
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Generate new keys
      p Click the button to generate a new public/private keypair and download the private key (may take a few seconds).
      p
        a.btn.btn-default(href='/gen-keys', role='button') Download new private key
    .col-sm-6
      h2 Encrypt a file
      form(method='POST', action='/encrypt')
        input(type='file')
      p
        a.btn.btn-default(href='#', role='button') View details »
